<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body>
   <div id="main">
    <div id="left">
      <div id="user_profile">
        <div class="cir">
          <img src="<%=user.profileImage%>" alt="">
        </div>
        <h6><%=user.username%></h6>
      </div>
      <div id="add_members">
             <h5><i onclick="open1()" class="ri-user-add-line"></i></h5>
      </div>
      <div id="friends_list">
        <%user.friend.forEach((fri)=>{%>
        <div class="friend_section">
          <div class="cir">
            <img src="<%=fri.profileImage%>" alt="">
          </div>
          <h6><%=fri.username%></h6>
        </div>
        <%})%>
      </div>
    </div>
    <div id="right">
       <div id="friend-display">
        <div class="cir">
          <img src="" alt="">
        </div>
        <h6>opositename</h6>
       </div>
       <div id="chat-area">

       </div>
       <div id="msg_send">
        <input type="text" placeholder="kuch likho 💫">
        <button onclick="bhejdo()"><h6>send</h6></button>
       </div>
    </div>
    <div id="searching_div">
      <input type="search" placeholder="searche user"> 
      <div id="two">
        <div class="user">
          <div class="cir">
            <img src="" alt="">
          </div>
          <h6>user</h6>
        </div>
      </div>
      <i onclick="close1()" id="close" class="ri-close-line"></i>
    </div>
   </div>
   <script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    
     function open1(){ 
      document.querySelector("#searching_div").style.display="initial"
     }
     function close1(){ 
      document.querySelector("#searching_div").style.display="none"
     }

     function bhejdo(){
      const input = document.querySelector("input").value;
 const tem = ` <div id="outgoing">
           ${input}
         </div>`
         socket.emit("max", input)
         document.querySelector("#chat-area").innerHTML+=tem;   
         document.querySelector("input").value = null;     
    }

    function aanevala(haa){
      const temp = ` <div id="incomming">
          ${haa}
         </div>`  
     document.querySelector("#chat-area").innerHTML+=temp;
    }
    socket.on("sony", function(hero){
      aanevala(hero)
      console.log(hero);
    }) 

   </script>
</body>
</html>