*{ 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,body{ 
  width: 100%;
  height: 100%;
}
#main{ 
  height: 100vh; 
  width: 100vw;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left{ 
  width: 30%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#right{ 
  width: 68%;
  height: 99%;
  background-color: red;
}
#user_profile{ 
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: yellow;
}
.cir{ 
  width: 40px;
  height: 40px;
  background-color: purple;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#add_members{ 
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(200, 104, 104);
}
#friends_list{ 
  width: 100%;
  height: 80%;
  background-color: aqua; 
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}
.friend_section{ 
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 5px;
}

#friend-display{ 
 width: 99%; 
 display: flex;
 align-items: center;
 padding: 10px 20px ;
 gap: 40px;
 font-size: 22px;
 border-bottom: 2px solid white;
}


#msg_send{ 
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{ 
  width: 70%;
  padding: 5px 22px
}
button{ 
  padding: 7px 10px;
}
#chat-area{ 
  width: 99%;
  height: 80vh;
  padding: 5px;
}
#outgoing{ 
  width: fit-content;
  height: 30px;
  padding: 5px;
  background-color: beige;
  margin-left: auto;
  margin-bottom: 1vw;
}
#incomming{ 
  width: fit-content;
  height: 30px;
  padding: 5px;
  background-color: beige;
  margin-bottom: 1vw;
}

#searching_div{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30vw;
  height: 50vh;
  padding: 10px;
  background-color: rgb(241, 241, 156);
  display: none;
}

#seaching_div input{ 
 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
} 
#searching_div #two{ 
  width: 100%;
  height: fit-content;
  padding: 5px;
}
.user{ 
  width: 99%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#close{ 
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}
